<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0"/>
    <title>WeUI</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css"></link>
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css"></link>
    <style>
        .demos-title {
            text-align: center;
            font-size: 34px;
            color: #3cc51f;
            font-weight: 400;
            margin: 0 15%;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%
        }

        .pp {
            width: 100%;
        }
        .headimg img {
            border-radius: 100%;
        }

        .headimg {
            margin-top: 10%;
            text-align: center
        }

        .weui-cells img {
            width: 25%;
            height: 25%;
        }
        /*.wc1{*/
            /*margin-bottom: 15%;*/
        /*}*/

        .orderList{
            margin-bottom: 15%;
        }

        .row{
            margin-bottom: 15%;
        }
        .itemIcon{
            width: ;
        }


    </style>
</head>

<body>

<div class="weui-tab">

    <div class="weui-tab__bd">
        <!--首页-->
        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div class="weui-panel weui-panel_access">
                <img class='pp' src="/sell/images/my/head.jpeg" alt=""/>
                <div class="weui-panel__hd">欢迎光临</div>
                <div class="weui-panel__bd proList">
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>

        <!--搜索页 第二页-->
        <div id="tab2" class="weui-tab__bd-item">
            <h1 class="demos-title">搜索</h1>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label for="picker" class="weui-label">种类</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input" id="picker" type="text" value="" readonly=""/>
                    </div>
                    <a href="javascript:;" class="weui-btn weui-btn_primary searchBtn">确认</a>
                </div>
                <!--<div class="weui-panel__bd">-->
                    <!--<div class="row1">-->
                        <!---->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="weui-panel weui-panel_access">
                <div class="weui-panel__bd">
                    <div class="row1">

                    </div>
                </div>
            </div>

        </div>

        <!--第三页-->
        <div id="tab3" class="weui-tab__bd-item t3">
            <div class="headimg">
                <!--<img align="middle" src=" http://thirdwx.qlogo.cn/mmopen/vi_32/aiaO77mTsCalcia49ElevPnwMB1v0YiaPb0PyU0hLNQy2DAJwIKxMVp9ib80uLldicLFvRIgAE3OzCYqsciahKIJ0Opg/132 " alt=" " />-->
            </div>
            <div class="weui-cells weui-cells_form">
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label ">姓名</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input buyername" placeholder="请输入姓名" />
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">手机号</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input buyerphone" type="number" pattern="[0-9]*" placeholder="请输入手机号"/>
                    </div>
                </div>
                <div class="weui-cell">
                    <div class="weui-cell__hd"><label class="weui-label">地址</label></div>
                    <div class="weui-cell__bd">
                        <input class="weui-input buyeraddress" placeholder="请输入地址"/>
                    </div>
                </div>
                <div class="weui-panel__hd">购物车</div>
            </div>

            <div class="weui-cells carList">

            </div>

            <div class="weui-cells wc1">
                <a class="weui-cell weui-cell_access pay" href="javascript:;">
                    <div class="weui-cell__bd getCarPrice">

                    </div>
                    <div class="weui-cell__ft">
                        <p>支付</p>
                    </div>
                </a>
                <div class="weui-panel__hd">以前的订单</div>
            </div>

            <div class="weui-cells orderList">
                <!--<a class="weui-cell weui-cell_access" href="javascript:;">-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<p>cell standard</p>-->
                    <!--</div>-->
                    <!--<div class="weui-cell__ft">-->
                    <!--</div>-->
                <!--</a>-->
                <!--<a class="weui-cell weui-cell_access" href="javascript:;">-->
                    <!--<div class="weui-cell__bd">-->
                        <!--<p>cell standard</p>-->
                    <!--</div>-->
                    <!--<div class="weui-cell__ft">-->
                    <!--</div>-->
                <!--</a>-->
            </div>
        </div>

        <div class="weui-tabbar footer">
            <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
                <!--<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;"></span>-->
                <div class="weui-tabbar__icon">
                    <img src="/sell/images/icon_nav_button.png" alt=""/>
                </div>
                <p class="weui-tabbar__label">微信</p>
            </a>

            <a href="#tab2" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="/sell/images/icon_nav_article.png" alt=""/>
                </div>
                <p class="weui-tabbar__label">发现</p>
            </a>
            <a href="#tab3" class="weui-tabbar__item dtap3">
                <div class="weui-tabbar__icon">
                    <img src="/sell/images/icon_nav_cell.png" alt=""/>
                </div>
                <p class="weui-tabbar__label">我</p>
            </a>
        </div>
    </div>
</div>

<!-- body 最后 -->
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/swiper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/city-picker.min.js"></script>

<script type='text/javascript' src='/sell/js/common.js' charset='utf-8'></script>
<script type='text/javascript' src='/sell/js/index.js' charset='utf-8'></script>


</body>

</html>
